<form (ngSubmit)="submitForm()" [formGroup]="form" autocomplete="off">
  <div style="display: flex; justify-content: center">
    <mat-card class="form-container">
      <mat-card-title>Login</mat-card-title>

      <!-- Email -->
      <div>
        <mat-form-field>
          <mat-label>Email</mat-label>
          <input
            matInput
            type="email"
            formControlName="email"
          />
        </mat-form-field>
      </div>
      <!-- /Email -->

      <!-- Password -->
      <div>
        <mat-form-field>
          <mat-label>Password</mat-label>
          <input
            matInput
            type="password"
            formControlName="password"
          />
        </mat-form-field>
      </div>
      <!-- /Password -->

      <div>
        <button type="submit" mat-raised-button color="primary">Login</button>
      </div>
    </mat-card>
  </div>
</form>
